{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div style="text-align:center">

<h2 style="color:white;">Login</h2>
        </div>

<form method="post">
        <div style="text-align:center">

  {% csrf_token %}
  {{ form.as_p }}
                <button class="btn btn-outline-info" type="submit" style="color:white" >login</button>
        </div>
</form>
<div style="text-align:center">
    <br>
    <p><a href="{% url 'register' %}">Register</a></p>
        </div>
{% endblock %}